set_io a_in[0] H1
set_io a_in[1] D3
set_io a_in[2] H6
set_io a_in[3] E1
set_io a_in[4] F7
set_io a_in[5] C7
set_io a_in[6] H3
set_io a_in[7] H4
set_io b_in[0] A6
set_io b_in[1] G8
set_io b_in[2] A7
set_io b_in[3] C8
set_io b_in[4] A5
set_io b_in[5] B5
set_io b_in[6] A3
set_io b_in[7] H7
set_io prod[0] A8
set_io prod[10] D1
set_io prod[11] B6
set_io prod[12] C2
set_io prod[13] D8
set_io prod[14] F8
set_io prod[15] D7
set_io prod[1] F4
set_io prod[2] E2
set_io prod[3] F3
set_io prod[4] H5
set_io prod[5] B7
set_io prod[6] G7
set_io prod[7] B2
set_io prod[8] F1
set_io prod[9] A4
