set_io sys_rst_n   A2
set_io pixelclk    A3
set_io frame_valid A4
set_io line_valid  A5
set_io gpmc_clk    A6
set_io gpmc_csn    A7
set_io gpmc_oen    A8
set_io gpmc_wen    B2
set_io gpmc_advn   B3
set_io gpmc_intr   B5

set_io apt_din[0]  B6
set_io apt_din[1]  B7
set_io apt_din[2]  B8
set_io apt_din[3]  C2
set_io apt_din[4]  C3
set_io apt_din[5]  C7
set_io apt_din[6]  C8
set_io apt_din[7]  D1
set_io apt_din[8]  D2
set_io apt_din[9]  D3

set_io gpmc_ad[0]  D7
set_io gpmc_ad[1]  D8
set_io gpmc_ad[2]  E1
set_io gpmc_ad[3]  E2
set_io gpmc_ad[4]  E7
set_io gpmc_ad[5]  F1
set_io gpmc_ad[6]  F2
set_io gpmc_ad[7]  F3
set_io gpmc_ad[8]  F4
set_io gpmc_ad[9]  F7
set_io gpmc_ad[10] F8
set_io gpmc_ad[11] G1
set_io gpmc_ad[12]  E2
set_io gpmc_ad[13]  E3
set_io gpmc_ad[14]  F3
set_io gpmc_ad[15]  F2
